<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Find The Best Job Possible</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Search our website to be match with your dream job.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/jobs" rel="noopener">List Jobs</a>
        <a class="btn btn-default btn-lg" href="/jobs/create" rel="noopener">Create jobs</a>
      </p>
    </div>
  </div>

</section>
