<section>
  <div class="page-header">
    <h1>{{vm.job._id ? 'Edit Job' : 'New Job'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.jobForm" class="form-horizontal" ng-submit="vm.save(vm.form.jobForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Job Title*</label>
          <input name="title" type="text" ng-model="vm.job.title" id="title" class="form-control" placeholder="title">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="company">Company*</label>
          <input name="company" type="text" ng-model="vm.job.company" id="company" class="form-control" placeholder="company">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="job_type">Job Type*</label>
          <select name="job_type" class="form-control" ng-model="vm.job.job_type" id="job_type">
            <option value="">---- Please select ----</option>
            <option value="accounting">Accounting</option>
            <option value="automotive">Automotive</option>
            <option value="bangking">Bangking</option>
            <option value="Construction">Construction</option>
            <option value="education">Education</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="location">Location*</label>
          <input name="location" type="text" ng-model="vm.job.location" id="location" class="form-control" placeholder="location">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="how_to_apply">How To Apply*</label>
          <div class="controls">
            <input type="radio" id="how_to_apply" ng-model="vm.job.how_to_apply" value="email" checked> Email
            <input type="radio" id="how_to_apply" ng-model="vm.job.how_to_apply" value="website"> Website
            <input type="radio" id="how_to_apply" ng-model="vm.job.how_to_apply" value="phone"> Phone
            <input type="radio" id="how_to_apply" ng-model="vm.job.how_to_apply" value="others"> Other
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="contact_email">Contact Email*</label>
          <input name="contact_email" type="email" ng-model="vm.job.contact_email" id="contact_email" class="form-control" placeholder="Contact email">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="contact_website">Contact Website*</label>
          <input name="contact_website" type="text" ng-model="vm.job.contact_website" id="contact_website" class="form-control" placeholder="Contact website">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="contact_phone">Contact Phone*</label>
          <input name="contact_phone" type="text" ng-model="vm.job.contact_phone" id="contact_phone" class="form-control" placeholder="Contact phone">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="job_description">Job Description*</label>
          <input name="job_description" type="text" ng-model="vm.job.job_description" id="job_description" class="form-control" placeholder="Job description">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.job._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
